// Then import vuetify-scss.
@import '~vuetify-scss';



* {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;

}

html {
  color: #2c3e50;
  margin: 0;
  overflow-y: auto;
}

main {
  text-align: center;
  margin-top: 40px;
}

header {
  margin: 0;
  height: 56px;
  padding: 0 16px 0 24px;
  background-color: #35495e;
  color: #ffffff;
}

header span {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.02em;
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 16px;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #35495e;
}

.text-on-back {
  position: relative;
  z-index: 1;
  font-size: 9.5em;
  margin-left: -4px;
  font-weight: 900;
  color: hsla(0, 0%, 100%, .2) !important;
}

.work-headline {
  position: absolute;
  top: 110px;
  left: 60px;
}

.v-carousel__prev {
  left: 118rem;
  top: 90%;
}

.v-carousel__next {
  top: 90%;
}

.custom-card {
  right: 50%;
  top: 150%;
}
